.navContainer{
    display: flex;
    align-content: center;
}
.menuContainer{
    display: flex;
    width:35vw;
    height:40px;
    align-self: center;
    flex-direction: row-reverse;
}
.navBar{
    width:100%;
    padding-top: 10px;
    height:12vh;
    border: 10px;
    border-bottom:solid 2px #dce0e6;


}
.menus{
    margin: 12px;
    flex:1;
    color:green;
    text-Decoration:none;
}
.menuContainer:last-child{
    margin-right: 5%;
}